<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>first_name</th>
      <th>last_name</th>
      <th>age</th>
      <th>gender</th>
      <th>city</th>
      <th>country</th>
      <th>salary</th>
      <th>company</th>
      <th>salary_percentage</th>
      <th>salary_delta</th>
      <th>clipped_salary_delta</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Bonni</td>
      <td>Noon</td>
      <td>60</td>
      <td>Genderqueer</td>
      <td>København</td>
      <td>Denmark</td>
      <td>88710</td>
      <td>Klein, Green and Kilback</td>
      <td>59.14</td>
      <td>-18265.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Reinald</td>
      <td>Rucklesse</td>
      <td>56</td>
      <td>Male</td>
      <td>Babao</td>
      <td>China</td>
      <td>114240</td>
      <td>West-Raynor</td>
      <td>76.16</td>
      <td>7264.96</td>
      <td>7264.96</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Nahum</td>
      <td>Canet</td>
      <td>44</td>
      <td>Male</td>
      <td>T’ianet’i</td>
      <td>Georgia</td>
      <td>125549</td>
      <td>Greenfelder and Sons</td>
      <td>83.70</td>
      <td>18573.96</td>
      <td>18573.96</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Arman</td>
      <td>Ebdin</td>
      <td>49</td>
      <td>Male</td>
      <td>Asunción</td>
      <td>Paraguay</td>
      <td>50393</td>
      <td>Windler Inc</td>
      <td>33.60</td>
      <td>-56582.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Kata</td>
      <td>Chalcot</td>
      <td>61</td>
      <td>Female</td>
      <td>Lajeosa</td>
      <td>Portugal</td>
      <td>97244</td>
      <td>Mueller Inc</td>
      <td>64.83</td>
      <td>-9731.04</td>
      <td>-9731.04</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>Harris</td>
      <td>Maciejewski</td>
      <td>45</td>
      <td>Male</td>
      <td>Ezeiza</td>
      <td>Argentina</td>
      <td>100391</td>
      <td>Block, Kuhic and Cummerata</td>
      <td>66.93</td>
      <td>-6584.04</td>
      <td>-6584.04</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>Guilbert</td>
      <td>O'Dwyer</td>
      <td>57</td>
      <td>Male</td>
      <td>Polos</td>
      <td>Indonesia</td>
      <td>107298</td>
      <td>Kunze-Reichel</td>
      <td>71.53</td>
      <td>322.96</td>
      <td>322.96</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>Herbert</td>
      <td>Skipper</td>
      <td>33</td>
      <td>Male</td>
      <td>Kainan</td>
      <td>Japan</td>
      <td>76728</td>
      <td>Bernier-Treutel</td>
      <td>51.15</td>
      <td>-30247.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>Mella</td>
      <td>Lissemore</td>
      <td>31</td>
      <td>Genderfluid</td>
      <td>Cocabamba</td>
      <td>Peru</td>
      <td>91776</td>
      <td>Ward-Powlowski</td>
      <td>61.18</td>
      <td>-15199.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>Livvyy</td>
      <td>Creboe</td>
      <td>32</td>
      <td>Female</td>
      <td>Arroyo Salado</td>
      <td>Dominican Republic</td>
      <td>130342</td>
      <td>Runte LLC</td>
      <td>86.89</td>
      <td>23366.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>Rhys</td>
      <td>Willeman</td>
      <td>44</td>
      <td>Male</td>
      <td>Newport News</td>
      <td>United States</td>
      <td>133856</td>
      <td>Kutch Inc</td>
      <td>89.24</td>
      <td>26880.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>Anthea</td>
      <td>Hill</td>
      <td>58</td>
      <td>Female</td>
      <td>Drohiczyn</td>
      <td>Poland</td>
      <td>140307</td>
      <td>Crona-Bartell</td>
      <td>93.54</td>
      <td>33331.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>Dimitry</td>
      <td>Kern</td>
      <td>41</td>
      <td>Male</td>
      <td>Kara Suu</td>
      <td>Kyrgyzstan</td>
      <td>104311</td>
      <td>Nolan LLC</td>
      <td>69.54</td>
      <td>-2664.04</td>
      <td>-2664.04</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>Jerry</td>
      <td>Mably</td>
      <td>63</td>
      <td>Female</td>
      <td>Glogovac</td>
      <td>Kosovo</td>
      <td>98073</td>
      <td>Green-Legros</td>
      <td>65.38</td>
      <td>-8902.04</td>
      <td>-8902.04</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>Britta</td>
      <td>Botler</td>
      <td>33</td>
      <td>Female</td>
      <td>Sertãozinho</td>
      <td>Brazil</td>
      <td>79590</td>
      <td>Kuhlman-Rath</td>
      <td>53.06</td>
      <td>-27385.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>Tawsha</td>
      <td>Salatino</td>
      <td>53</td>
      <td>Female</td>
      <td>Benito Juarez</td>
      <td>Mexico</td>
      <td>145656</td>
      <td>Hermann Group</td>
      <td>97.10</td>
      <td>38680.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>Kelsey</td>
      <td>Coo</td>
      <td>55</td>
      <td>Male</td>
      <td>Chugur</td>
      <td>Peru</td>
      <td>147739</td>
      <td>Metz, Rice and Macejkovic</td>
      <td>98.49</td>
      <td>40763.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>Celeste</td>
      <td>Camies</td>
      <td>20</td>
      <td>Female</td>
      <td>Piraí do Sul</td>
      <td>Brazil</td>
      <td>106943</td>
      <td>Greenholt, Daniel and Waelchi</td>
      <td>71.30</td>
      <td>-32.04</td>
      <td>-32.04</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>Peterus</td>
      <td>Oxenbury</td>
      <td>49</td>
      <td>Male</td>
      <td>Boli</td>
      <td>China</td>
      <td>118797</td>
      <td>Reinger Group</td>
      <td>79.20</td>
      <td>11821.96</td>
      <td>11821.96</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>Venita</td>
      <td>Zealander</td>
      <td>28</td>
      <td>Female</td>
      <td>Lérida</td>
      <td>Colombia</td>
      <td>100433</td>
      <td>Daugherty Group</td>
      <td>66.96</td>
      <td>-6542.04</td>
      <td>-6542.04</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>Terese</td>
      <td>Brach</td>
      <td>59</td>
      <td>Female</td>
      <td>Malinta</td>
      <td>Philippines</td>
      <td>105482</td>
      <td>Cassin and Sons</td>
      <td>70.32</td>
      <td>-1493.04</td>
      <td>-1493.04</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>Inna</td>
      <td>Pydcock</td>
      <td>40</td>
      <td>Female</td>
      <td>Manevychi</td>
      <td>Ukraine</td>
      <td>105077</td>
      <td>Senger-Glover</td>
      <td>70.05</td>
      <td>-1898.04</td>
      <td>-1898.04</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>Daile</td>
      <td>Eastop</td>
      <td>64</td>
      <td>Female</td>
      <td>Düsseldorf</td>
      <td>Germany</td>
      <td>128629</td>
      <td>Volkman, Adams and Klein</td>
      <td>85.75</td>
      <td>21653.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>Benedicto</td>
      <td>Catford</td>
      <td>21</td>
      <td>Male</td>
      <td>Nadrupe</td>
      <td>Portugal</td>
      <td>141456</td>
      <td>Durgan, Kshlerin and Strosin</td>
      <td>94.30</td>
      <td>34480.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>Tobin</td>
      <td>Sheran</td>
      <td>41</td>
      <td>Male</td>
      <td>Tonota</td>
      <td>Botswana</td>
      <td>78325</td>
      <td>Ruecker-Gibson</td>
      <td>52.22</td>
      <td>-28650.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>Leonore</td>
      <td>Gilligan</td>
      <td>30</td>
      <td>Female</td>
      <td>Gludug</td>
      <td>Indonesia</td>
      <td>129919</td>
      <td>Ruecker-Leffler</td>
      <td>86.61</td>
      <td>22943.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>Alberta</td>
      <td>Vaux</td>
      <td>63</td>
      <td>Female</td>
      <td>Pubu</td>
      <td>China</td>
      <td>74588</td>
      <td>Parisian, Turcotte and Wiegand</td>
      <td>49.73</td>
      <td>-32387.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>Delinda</td>
      <td>Dwight</td>
      <td>56</td>
      <td>Female</td>
      <td>Ferkessédougou</td>
      <td>Ivory Coast</td>
      <td>129532</td>
      <td>Mills-Gutkowski</td>
      <td>86.35</td>
      <td>22556.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>Donny</td>
      <td>Devonald</td>
      <td>51</td>
      <td>Female</td>
      <td>Amolatar</td>
      <td>Uganda</td>
      <td>95721</td>
      <td>Predovic LLC</td>
      <td>63.81</td>
      <td>-11254.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>Burtie</td>
      <td>Diem</td>
      <td>48</td>
      <td>Male</td>
      <td>Cilongkrang</td>
      <td>Indonesia</td>
      <td>139485</td>
      <td>Kutch, Kuhlman and Hermann</td>
      <td>92.99</td>
      <td>32509.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>Lauren</td>
      <td>Lamba</td>
      <td>46</td>
      <td>Male</td>
      <td>Zhanjiang</td>
      <td>China</td>
      <td>54543</td>
      <td>Padberg-Weissnat</td>
      <td>36.36</td>
      <td>-52432.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>31</th>
      <td>32</td>
      <td>Laurice</td>
      <td>Shaefer</td>
      <td>44</td>
      <td>Female</td>
      <td>Oni</td>
      <td>Georgia</td>
      <td>114667</td>
      <td>Willms, Konopelski and Jakubowski</td>
      <td>76.44</td>
      <td>7691.96</td>
      <td>7691.96</td>
    </tr>
    <tr>
      <th>32</th>
      <td>33</td>
      <td>Chloe</td>
      <td>Guyer</td>
      <td>59</td>
      <td>Female</td>
      <td>Kembang</td>
      <td>Indonesia</td>
      <td>55111</td>
      <td>Renner and Sons</td>
      <td>36.74</td>
      <td>-51864.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>Hartwell</td>
      <td>Zohrer</td>
      <td>55</td>
      <td>Male</td>
      <td>Hajeom</td>
      <td>South Korea</td>
      <td>78735</td>
      <td>Toy Inc</td>
      <td>52.49</td>
      <td>-28240.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>34</th>
      <td>35</td>
      <td>Jere</td>
      <td>Glavias</td>
      <td>26</td>
      <td>Male</td>
      <td>Facatativá</td>
      <td>Colombia</td>
      <td>63042</td>
      <td>Barton Group</td>
      <td>42.03</td>
      <td>-43933.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>35</th>
      <td>36</td>
      <td>Harald</td>
      <td>Eddoes</td>
      <td>65</td>
      <td>Male</td>
      <td>Vybor</td>
      <td>Russia</td>
      <td>133547</td>
      <td>Effertz-Torphy</td>
      <td>89.03</td>
      <td>26571.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>36</th>
      <td>37</td>
      <td>Moll</td>
      <td>Ghest</td>
      <td>49</td>
      <td>Female</td>
      <td>Jandira</td>
      <td>Brazil</td>
      <td>130021</td>
      <td>Aufderhar, Abernathy and Runolfsdottir</td>
      <td>86.68</td>
      <td>23045.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>37</th>
      <td>38</td>
      <td>Dallas</td>
      <td>Backen</td>
      <td>57</td>
      <td>Female</td>
      <td>Presnenskiy</td>
      <td>Russia</td>
      <td>94076</td>
      <td>O'Keefe, Treutel and Kuhic</td>
      <td>62.72</td>
      <td>-12899.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>38</th>
      <td>39</td>
      <td>Conney</td>
      <td>Scaife</td>
      <td>26</td>
      <td>Genderqueer</td>
      <td>Vereya</td>
      <td>Russia</td>
      <td>126490</td>
      <td>D'Amore Group</td>
      <td>84.33</td>
      <td>19514.96</td>
      <td>19514.96</td>
    </tr>
    <tr>
      <th>39</th>
      <td>40</td>
      <td>Marney</td>
      <td>Lomen</td>
      <td>31</td>
      <td>Female</td>
      <td>Kuzovatovo</td>
      <td>Russia</td>
      <td>73304</td>
      <td>Johnson Group</td>
      <td>48.87</td>
      <td>-33671.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>40</th>
      <td>41</td>
      <td>Augustin</td>
      <td>Fegan</td>
      <td>62</td>
      <td>Male</td>
      <td>Pangpang</td>
      <td>Philippines</td>
      <td>69496</td>
      <td>Breitenberg-Gerhold</td>
      <td>46.33</td>
      <td>-37479.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>41</th>
      <td>42</td>
      <td>Abramo</td>
      <td>Brosenius</td>
      <td>50</td>
      <td>Male</td>
      <td>Nanhai</td>
      <td>China</td>
      <td>142875</td>
      <td>Friesen, Pagac and Nicolas</td>
      <td>95.25</td>
      <td>35899.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>42</th>
      <td>43</td>
      <td>Travers</td>
      <td>Skayman</td>
      <td>21</td>
      <td>Male</td>
      <td>Cigaluh</td>
      <td>Indonesia</td>
      <td>145426</td>
      <td>Hyatt, Weber and Klocko</td>
      <td>96.95</td>
      <td>38450.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>43</th>
      <td>44</td>
      <td>Quint</td>
      <td>Billborough</td>
      <td>48</td>
      <td>Male</td>
      <td>Daxing</td>
      <td>China</td>
      <td>51247</td>
      <td>McDermott, Larkin and Konopelski</td>
      <td>34.16</td>
      <td>-55728.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>44</th>
      <td>45</td>
      <td>Rina</td>
      <td>Pressnell</td>
      <td>31</td>
      <td>Female</td>
      <td>Gadžin Han</td>
      <td>Serbia</td>
      <td>88242</td>
      <td>Donnelly LLC</td>
      <td>58.83</td>
      <td>-18733.04</td>
      <td>-10000.00</td>
    </tr>
    <tr>
      <th>45</th>
      <td>46</td>
      <td>Jerrine</td>
      <td>Collcutt</td>
      <td>57</td>
      <td>Female</td>
      <td>Cisadap</td>
      <td>Indonesia</td>
      <td>145010</td>
      <td>Bins, Lehner and Rutherford</td>
      <td>96.67</td>
      <td>38034.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>46</th>
      <td>47</td>
      <td>Fidole</td>
      <td>Bockings</td>
      <td>35</td>
      <td>Male</td>
      <td>Hacienda La Calera</td>
      <td>Chile</td>
      <td>130270</td>
      <td>Boyer LLC</td>
      <td>86.85</td>
      <td>23294.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>47</th>
      <td>48</td>
      <td>Yolande</td>
      <td>Veschi</td>
      <td>27</td>
      <td>Female</td>
      <td>Wuli</td>
      <td>China</td>
      <td>110780</td>
      <td>Cormier-McLaughlin</td>
      <td>73.85</td>
      <td>3804.96</td>
      <td>3804.96</td>
    </tr>
    <tr>
      <th>48</th>
      <td>49</td>
      <td>Saundra</td>
      <td>Syncke</td>
      <td>39</td>
      <td>Female</td>
      <td>Bordeaux</td>
      <td>France</td>
      <td>149456</td>
      <td>Powlowski, Hintz and Heathcote</td>
      <td>99.64</td>
      <td>42480.96</td>
      <td>20000.00</td>
    </tr>
    <tr>
      <th>49</th>
      <td>50</td>
      <td>Delila</td>
      <td>MacCook</td>
      <td>36</td>
      <td>Female</td>
      <td>Gayamsari</td>
      <td>Indonesia</td>
      <td>105824</td>
      <td>Schiller-Stamm</td>
      <td>70.55</td>
      <td>-1151.04</td>
      <td>-1151.04</td>
    </tr>
  </tbody>
</table>